*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html, body{
    overflow: auto;
}
body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;    
    font-size: 14px !important;
    line-height: 1.42857143;
}
a {
    color: #337ab7 !important;
    text-decoration: none;
}
a:focus, a:hover {
    color: #23527c !important;
    text-decoration: underline;
}
.head1 {
    margin: 1rem;
}
.navigation {
    height: 50px;
    background: #fff;
}
.brand {
    position: absolute;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
}
.dropdown {
    display: inline-block;
    position: relative;
}
.dd-button {
    display: inline-block;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}
.homenav {
    margin-left: -0.8rem;
    margin-top: -1rem;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-family: inherit;
    font-weight: 500;
}
i.fa.fa-user-circle-o {
    font-size: 30px;
    margin-top: 2rem;
}
.dd-input:checked + .dd-menu {
    display: block;
}
.dd-input + .dd-menu {
    display: none;
}

.dd-menu {
    position: absolute;
    left: -4rem;
    z-index: 1;
    top: 115%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}
.dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    word-spacing: normal;
    white-space: nowrap;
}
.dd-menu li:hover {
    background-color: #f6f6f6;
}
.dd-button:after {
    content: '';
    position: absolute;
    top: 73%;
    right: 11px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
.dd-input {
    display: none;
}
.rightMenu{
    margin-top: -3%;margin-bottom:-100px;float:right;margin-right:3%;    word-spacing: 20px;
}
.brand img{
    margin-top: -1.6rem;
}
.head3 .address {
    padding-left: 3rem;
    margin-top: -1rem;
}
.brand-acacia2 {
    margin-top: -2rem;
    font-size: 1.4em;
}
.brand-acacia2 img {
    margin-right: 3rem;
    float: right;
    width: 30%;
    margin-top: -1rem;
}
.line2 {
    height: 3px;
    border: none;
    margin-top: 2rem !important;
}
.news_tab {
    margin-top: -2.4rem;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
}
ul.breadcrumb {
    padding: .8rem 3rem;
}
.breadcrumb>li {
    display: inline-block;
}
.news_tab a:hover {
    /*text-decoration: underline;*/
    border-bottom: 3px solid transparent;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fcf8e300 !important;
    border-radius: 4px;
}
.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\00a0";
}
.forecast {
    background-color: #ffffff;
}
.forecast .underline {
    /* padding-top: .5rem; */
    padding-bottom: .5rem;
}
.underline .line {
    width: 5rem;
    height: 3px;
    background: linear-gradient(90deg, #172e56, #209bd6);
    display: inline-block;
}
.forecast .forecast-cont {
    max-width: 700px;
    margin: 0 auto;
}
.display-2 {
    font-size: 2rem !important;
    font-weight: 500 !important;
    line-height: 1.2;
}
.forecast .box-item:first-child {
    background-color: #e3f2fd;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
}
.forecast .box-item:nth-child(2) {
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
}
.mbr-black {
    margin-top: 1rem;
}
.forecast .icon-block-top, .forecast .box-item-title {
    color: #4e84c2;
}
.display-7 {
    font-size: 30px;
}
.display-5 {
    font-size: 18px;
}
.form-control, .form-control:focus {
    border: 1px solid #e8e8e8;
}
.form-control {
    background-color: #fff; 
    border: 1px solid #ced4da !important;
    box-shadow: none;
    color: #565656;
    font-size: 14px !important;
    line-height: 1.43;
    min-height: 3.5em;
    padding: 1.07em .5em;
}
textarea {
    overflow: auto;
    resize: vertical;
}
.headform{
        background-color: #f5f5f5;
        box-shadow: none;
        color: #565656;
        font-size: 1rem;
        line-height: 1.43;
        min-height: 3.5em;
        padding: 1.07em .5em;
}

.display-3 {
    font-size: 1.1rem !important;
    font-weight: 500 !important;
    line-height: 1.2;
}
.display-4 {
    font-size: 1.3rem !important;
    font-weight: 600 !important;
}
.specialboxes {
    margin-top: 2rem;
}
#name-form1-4t {
    margin-top: 1rem;
}
.boxhighlt {
    border-radius: 0 10px 10px 0;
    padding: 1rem;
    background-color: #f1f1f129;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
    border-left: 4px solid #219bd6;
}
.pntPonv {
    text-align: center;
}
.add-btn {
    padding: 8px 25px;
    float: right;
    outline: none !important;
    cursor: pointer;
    border-width: 2px;
    background-color: #209bd6;
    color: #fff !important;
    border-radius: 30px;
    border: solid 1px #209bd6;
    transition: ease-in-out 0.5s;
}
.submit_btn {
    padding: 8px 25px;
    cursor: pointer;
    border-width: 2px;
    background-color: #209bd6;
    color: #fff;
    border-radius: 30px;
    border: solid 1px #209bd6;
    transition: ease-in-out 0.5s;
}
.cancel_btn {
    background: none;
    padding: 8px 25px;
    border: none;
    border-width: 2px;
    color: #000 !important;
    border-radius: 30px;
    border: solid 1px #209bd6;
    transition: ease-in-out 0.5s;
}
.bnt:focus, .bnt:hover {
    background-color: #286090;
    border: 1px solid #286090;
    color: #fff;
    transition: ease-in-out 0.5s;
    text-decoration: none;
}
.cancel_btn:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}
.editbnt{
    float: right;    
}
.stradrop {
    margin-left: 37rem;
    margin-top: -3rem;
}
.statdropdwn {
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    display: inline-block;
    padding: 10px 70px 10px 40px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}
.statdropdwn:after {
    content: '';
    position: absolute;
    top: 46%;
    right: 27px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
.dd-input:checked + .stats-menu {
    display: block;
}
.dd-input + .stats-menu {
    display: none;
}
.stats-menu {
    position: absolute;
    left: 0rem;
    z-index: 1;
    top: 101%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
}
.stats-menu li:hover {
    background-color: #f6f6f6;
}
.stats-menu li {
    padding: 14px 60px;
    cursor: pointer;
    word-spacing: normal;
    white-space: nowrap;
}
.form-control-date {
    display: block;
    width: 88%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-start{
    margin-top: 2rem;
}
.form-group label {
    font-size: 15px;
}
#tabs-nav li a.active, #tabs-nav li a:focus  {
    background-color: #209bd6;
    color: #337ab7 !important;
}

/* ---------------footer starts---------------- */
footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0rem;
    text-align: center;
    margin-bottom: 20px;
}
.footlinks {
    margin-top: 1%;
    margin-left: 34rem;
}
.footlinks a {
    font-size: 16px;
    font-weight: 500;
    color: #337ab7;
}
.cpyright {
    float: left;
    margin-left: -17%;
}
.footlinks a:nth-child(2), .footlinks a:nth-child(3) {
    margin-left: 1rem;
}
.footlinks a:after {
    content: "";
    display: block;
    width: 2px;
    height: 24px;
    background: #446079;
    left: 56px;
    top: 0%;
    position: absolute;
}
.footlinks a:nth-child(3):before {
    content: "";
    display: block;
    width: 2px;
    height: 24px;
    background: #446079;
    left: 150px;
    top: 0%;
    position: absolute;
}
.footlinks a:nth-child(1) {
    margin-left: -1rem;
}
 /* {
    margin-left: 1rem;
} */
.mbr-arrow {
    position: fixed;
    bottom: 10px;
    float: right;
    left: auto;
    z-index: 1;
    right: -13px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #446079;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.mbr-arrow > a {
    display: inline-block;
    text-decoration: none;
    outline-style: none;
    -webkit-animation: arrowdown 1.7s ease-in-out infinite;
    animation: arrowdown 1.7s ease-in-out infinite;
}
.mbr-arrow > a > i {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 1.5rem;
}
.mbr-arrow a {
    color: #fff !important;
}
/* ---------------footer ends---------------- */
section {
    padding: 1rem 6rem;
}
button:focus {
    outline: none !important;
}
textarea, .simpleRTE {
    width: 36em;
    height: 5em;
    font-size: 0.9em;
    padding: .33em;
    border-radius: .25rem;
    overflow: auto;
    border: 1px solid #ced4da;
    display: block;
    margin: 0.5em 0;
}
textarea#field2 {
    width: 48em;
    height: 8em;
    margin-top: -1rem;
}
textarea#field2:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
textarea#field1:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
textarea {
    overflow: hidden !important;
    resize: none !important;
}
.table td, .table th, .table thead th {
    border: none !important;
        padding: 0.3rem .75rem !important;
}
.news_tab a.active {
    /*text-decoration: underline;*/
    color: #337ab7 !important;
}

/*--------------------- Post PT Process Ends ------------------*/


/*--------------------- Pre PT Process Starts ------------------*/
a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
    width: 1090px;
    border-radius: 10px;
    overflow: hidden;
    /* background-color: #dddddd24; */
    /* box-shadow: 0 2px 6px rgba(0,0,0,.15); */
}
/* .secTable {
  margin-top: 4rem;
} */
.table {
  width: 100%;
  display: table;
  margin: 0;
}
.add-pre {
    padding: 8px 25px;
    outline: none !important;
    cursor: pointer;
    border-width: 2px;
    background-color: #fff;
    color: #000;
    border-radius: 30px;
    border: solid 1px #209bd6;
    transition: ease-in-out 0.5s;
}
.form-control[disabled], fieldset[disabled], textarea[disabled] {
    cursor: not-allowed;
    background-color: #fdfdfd !important;
}
input[type=checkbox][disabled] {
    cursor: not-allowed !important;
}

@media screen and (max-width: 768px) {
  .table {
    display: block;
  }
}

.table .row {
  display: table-row;  
}
.table .td {
    display: table-cell;
  }  

.row.header {
  color: #ffffff;
  /* background: #209bd6; */
}

@media screen and (max-width: 768px) {
  .row {
    display: block;
  }
  .table .td {
    display: block;
 }

  .row.header {
    padding: 0;
    height: 0px;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-size: 12px;
    color: #808080;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: block;
  }
}

.cell {
  display: table-cell;
}

@media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
}
@media screen and (max-width: 1024px){
    .table{
        overflow-x: auto;
        display: block;
    }
    textarea, .simpleRTE {
        width: 27em;
    }
    .boxhighlt {
        width: inherit;
    }
    .wrap-table100 {
        width: 100%;
    }
}

.row .cell {
  font-size: 14px;
  color: #666666;
  line-height: 1.1;
  font-weight: unset !important;
  padding: 10px;
}

.row.header .cell {
  font-size: 15px;
  color: #1d335a;
  /* line-height: 1.2; */
  font-weight: 600 !important;
  padding: 15px;
}
.row .cell:nth-child(1) {
  width: 210px;
  padding-left: 20px;
}
.row .cell:nth-child(2) {
  width: 120px;
}
.row .cell:nth-child(3) {
  width: 195px;
}
.row .cell:nth-child(4) {
  width: 252px;
  padding-left: 1rem;
  padding-right: 1.4rem;
}
.table, .row {
  width: 100% !important; 
}
/* .table{
  background-color: #f2f5f547;
} */

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }
  
  .row .cell {
    border: none;
    padding-left: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .row .cell:nth-child(1) {
    padding-left: 30px;
  }
  
  .row .cell {
    font-size: 18px;
    color: #555555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table, .row, .cell {
    width: 100% !important;
  }
}
.spec-form{
background-color: #ffffff !important;
box-shadow: none;
/* background-clip: padding-box; */
border: 1px solid #ced4da !important;
}

.check-step {
  width: 61%;
  height: 26px;
}
.check-step:hover {
  cursor: pointer;
}
/*--------------------- Pre PT Process Ends ------------------*/