* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* html, body{
    overflow-x: hidden;
} */
body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px !important;
  line-height: 1.42857143;
}
a {
  color: #337ab7 !important;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #0c4d6d !important;
  text-decoration: none !important;
}
/*---------------- header starts------------------ */
.dexur_headlogo img {
  width: 30%;
  margin-left: 2rem;
}
.dexur_navtab2 {
  background-color: #fafafa !important;
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
}
.dexur_frsthead {
  display: flex;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.15);
  align-items: center;
  top: 0;
  height: 70px;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
}
.dexur_usernav {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
  right: 2rem;
  align-items: center;
}
.user {
  position: relative;
  font-weight: 700;
  left: -2rem;
  top: 0.2rem;
}
.dexur_cl {
  display: flex;
}
.nav-link {
  padding: 0.5rem 0.4rem !important;
}
.news_tab .active:hover {
  text-decoration: none;
}
.news_tab li.active,
.menuselect li.active {
  color: #0c4d6d !important;
  font-weight: 600;
  background-color: #fafafa;
  padding: 0.7rem;
  margin-top: -0.8rem;
  border-bottom: 3px solid #0c4d6d;
}
.nav-link:focus,
.nav-link:hover {
  color: #0c4d6d !important;
  font-weight: 600;
}
.dexur_navtab {
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
}
.head1 {
  margin: 1rem;
}
.menuselect {
  margin-left: 0;
}
.menuselect a:hover,
.news_tab a:hover {
  font-weight: 600;
  color: #0c4d6d !important;
}
.home_act a:hover {
  font-weight: 600 !important;
  color: #0c4d6d !important;
}
.navigation {
  height: 50px;
  background: #fff;
}
.brand {
  position: absolute;
  top: 0rem;
}
.homenav .breadcrumb {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 0rem;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-family: inherit;
  font-weight: 500;
}
.client-logo {
  margin-top: -4rem;
  font-size: 1.4em;
}
.client-logo img {
  float: right;
  width: 30%;
  padding-top: 3.8rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
}
.line2 {
  height: 3px;
  border: none;
  margin-top: 2rem !important;
}
ul.breadcrumb {
  padding: 0.8rem 3rem;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #fcf8e300 !important;
  border-radius: 4px;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "\00a0";
}
.caret-icon {
  margin-left: 20px;
}
.dropdown:hover .caret-icon {
  transform: scale(1.2) rotate(-180deg);
}
.dexur_usermob {
  display: none;
}
#primary_nav_wrap {
  margin-left: 29px;
  background-color: white;
}
#primary_nav_wrap ul {
  list-style: none;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}
#primary_nav_wrap ul a {
  display: block;
  color: #0c4d6d !important;
  text-decoration: none;
  line-height: 40px;
  font-weight: 500;
  padding: 0 15px;
}
#primary_nav_wrap ul a:hover {
  display: block;
  color: #0c4d6d !important;
  text-decoration: none;
  line-height: 40px;
  padding: 0 15px;
  font-weight: 600;
}
#primary_nav_wrap ul li.current-menu-item,
#primary_nav_wrap ul li:hover {
  background: #fafafa;
  border-bottom: 3px solid #0c4d6d;
  box-shadow: 2px 3px 4px #ececee;
}
#primary_nav_wrap ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 6px;
}
#primary_nav_wrap:not(:hover) ul {
  transition: all 0.2s ease-in-out;
}
#primary_nav_wrap:hover > ul:not(:hover) {
  transition: all 0s !important;
}
#primary_nav_wrap ul ul li {
  float: none;
  width: 200px;
}
#primary_nav_wrap ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}
#primary_nav_wrap ul ul ul {
  top: 0;
  left: 100%;
}
#primary_nav_wrap ul li:hover > ul {
  visibility: visible;
  transition-delay: 0s;
}
.add_log .address {
  padding-left: 2rem;
  /* margin-top: 25px; */
}
.search-field {
  width: 80%;
  padding-left: 2rem;
}
.input-group input {
  height: 2.6rem;
}
.form-control:focus {
  border-color: #65a1e2;
  box-shadow: 0 1px 5px 1px rgba(60, 64, 67, 0.15) !important;
}
.custom-control-label::before {
  border: 2px solid #dee2e6;
}
.check-level {
  margin: 3.5rem 0 0.5rem 0;
  padding: 0.9rem 0 1rem 6rem;
}
.custom-control-label {
  font-size: 16px;
  cursor: pointer;
}
.custom-control {
  padding-right: 1.4rem;
}
.wrap {
  width: 80%;
  position: absolute;
  left: 44%;
  top: 2.5rem;
  transform: translate(-50%, -50%);
}
.search {
  width: 100%;
  height: 47px;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 2px solid hsl(0, 0%, 90%);
  border-right: none;
  padding: 15px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #303132;
}
.searchButton {
  width: 50px;
  height: 47px;
  border: 1px solid #209bd6;
  background: #209bd6;
  display: flex;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.searchTerm:focus {
  background-color: #fff;
  box-shadow: 0 0px 2px 0 rgba(60, 64, 67, 0.3);
  border: none;
}

/*---------------- header ends------------------ */

/*------------list dropdown starts--------------*/
.option-list {
  padding-top: 2rem;
  justify-content: center;
}
.select {
  position: relative;
  display: flex;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background: hsl(0, 0%, 100%);
  border: 2px solid hsl(0, 0%, 90%);
  background-image: none;
}
select {
  flex: 1;
  padding: 0 0.5em;
  color: #000;
  cursor: pointer;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 1em;
  background: #e9ecef;
  color: #2e647e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
select#slct1,
#slct2,
#slct3 {
  margin-left: 2rem;
}
.btn-mstyle {
  background-color: #4097c0;
  color: white;
  padding: 1rem;
  margin-left: 1rem;
  font-size: 17px;
  font-weight: 600;
}
.add-btn:focus, .add-btn:hover {
    background-color: #286090 ;
    border: 1px solid #286090;
    color: #fff !important;
    transition: ease-in-out 0.5s;
    text-decoration: none;
}
.add-btn {
    padding: 8px 25px;
    float: right;
    outline: none !important;
    cursor: pointer;
    border-width: 2px;
    background-color: #209bd6;
    color: #fff !important;
    border-radius: 30px;
    border: solid 1px #209bd6;
}
i.fa.fa-edit {
    padding-right: .3rem;
}
.main-form {
    margin: 3rem 0;
    padding: 0 2rem;
    box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
    background-color: #f9f9fd;
    border: 1px solid #e6e6f2;
    border-radius: 10px 10px 10px 10px;
}

.btn-submit:hover {
    background-color: #286090;
    border: 1px solid #286090;
}

.btn-submit {
    background-color: #209bd6;
    color: #fff;
    transition: ease-in-out 0.5s;
    text-decoration: none;
    padding: 8px 25px !important;
    border-radius: 30px !important;
}
.boxhighlt {
    border-radius: 0 10px 10px 0;
    padding: 1rem;
    background-color: #fdfdfd;
    box-shadow: 0 2px 6px rgb(0 0 0 / 15%);
    border-left: 4px solid #219bd6;
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
section {
    padding: 1rem 5rem;
}
.well {
    min-height: 20px;
    padding: 19px 19px 0 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}
/*----------- list dropdown ends--------------*/

.underline .line {
    width: 10rem;
    height: 3px;
    background: linear-gradient(90deg, #172e56, #209bd6);
    display: inline-block;
    margin-top: 1.5%;
}

/*----------- Table starts--------------*/
.fixedTable-header {
  width: 100%;
  overflow: hidden;
  background-color: #07aec9;
  color: white;
}
.fixedTable .table {
  background-color: white;
  width: auto;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-cont {
  padding: 3rem 3rem 1rem 3rem;
}
.my-custom-scrollbar {
  position: relative;
  height: 600px;
  overflow: auto;
  width: 100%;
}
.table-wrapper-scroll-y {
  display: block;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.15);
}
tr:nth-child(even) {
  background-color: rgb(248 248 248);
}
td a {
  font-weight: 500;
}
/*----------- Table ends--------------*/

/* ---------------footer starts---------------- */
footer {
  position: relative;
  right: 0;
  left: 0;
  padding: 0rem;
  text-align: center;
  margin-bottom: 20px;
}
.footlinks a {
  font-size: 16px;
  font-weight: 500;
  color: #337ab7;
}
.cpyright h6 {
  float: left;
  font-size: 15px;
  margin-left: 2rem;
}
.footlinks a:nth-child(2),
.footlinks a:nth-child(3) {
  margin-left: 1rem;
}
.footlinks a:after {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background: #446079;
  left: 58px;
  top: 0%;
  position: absolute;
}
.footlinks a:nth-child(3):before {
  content: "";
  display: block;
  width: 2px;
  height: 24px;
  background: #446079;
  left: 158px;
  top: 0%;
  position: absolute;
}
.footlinks a:nth-child(1) {
  margin-left: -2rem;
}
.back-to-top {
  position: fixed;
  display: inline;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}
.back-to-top i:hover {
  background-color: #263d51;
}
.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #fff;
  transition: all 0.4s;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #446079;
  border-radius: 50%;
}
/* ---------------footer ends---------------- */

/* ---------------media queries starts---------------- */
@media only screen and (device-width: 768px) {
  .footlinks {
    margin-top: -2rem;
    margin-left: 21rem;
  }
  .dexur_headlogo img {
    width: 20%;
    margin-left: 2rem;
    margin-top: 1.3rem;
  }
  .dexur_usernav {
    top: -2rem;
  }
  .nav-right {
    margin-top: -6.7rem;
  }
  .nav-right h6 {
    right: -23rem;
    top: -0.4rem;
  }
  .rightnav .nav-link {
    right: 2rem;
    top: -4.9rem;
  }
  .client-logo {
    order: 1;
  }
  .client-logo img {
    width: 30%;
  }
  .wrap {
    left: 50%;
  }
  .search-btnoptions {
    display: flex;
    justify-content: center;
    order: 2;
  }
}

@media only screen and (device-width: 1024px) {
  .logo img {
    top: 0.4rem;
  }
  .nav-right h6 {
    right: -7rem;
    top: 0.1rem;
  }
  .client-logo img {
    width: 50%;
    margin-top: -0.4rem;
  }
}

@media all and (min-width: 0px) and (max-width: 767px) {
  .add_log .address {
    padding-left: 1rem;
  }
  #primary_nav_wrap ul a:hover {
    line-height: 37px;
  }
  #primary_nav_wrap ul li.current-menu-item {
    border-bottom: 3px solid #0c4d6d;
    padding: 4px 6px;
  }
  .hosp_search {
    position: relative;
    top: 8rem;
  }
  .menuselect {
    margin-left: -2rem;
  }
  .wrap {
    width: 95%;
  }
  .dexur_navtab2 {
    margin-top: 0;
  }
  .dexur_navtab li {
    line-height: 25px;
  }
  .dexur_navtab2 .menuselect li {
    line-height: 23px;
  }
  .mob_dropdown {
    float: right;
    top: -8px !important;
  }
  .dropdownbtn {
    background-color: #fff;
    color: #021323;
    padding: 16px;
    border: none;
    font-weight: 600;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0.4rem;
    min-width: 170px;
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dexur_usernav {
    display: none;
  }
  .dexur_headlogo img {
    width: 30%;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }
  .dexur_usermob {
    display: block;
    margin-top: -2rem;
  }
  .homenav {
    margin-left: -2.8rem;
  }
  .brand img {
    width: 55%;
    top: 0.3rem;
    left: -1.6rem;
  }
  .nav-right h6 {
    right: -13rem;
    top: -2.6rem;
  }
  .rightnav {
    height: 76px;
    display: grid;
  }
  .rightnav .nav-link {
    right: 0rem;
    top: 0rem;
  }
  .client-logo img {
    margin: 0 auto;
    float: none;
    width: 46%;
  }
  .client-logo {
    display: flex;
    text-align: center;
  }
  .logo img {
    left: 0rem;
    top: 0.6rem;
  }
  .news_tab {
    margin-left: -2rem;
  }
  .menuselect ul {
    margin-left: -2rem;
  }
  .footlinks {
    justify-content: center;
  }
  .cpyright h6 {
    margin: 1rem;
  }
  .navbar-nav-right {
    top: -1.9rem;
  }
  .user {
    top: -1.8rem;
    right: -11rem;
  }
  .navbar-nav-right .nav-link {
    padding: 0rem 0.3rem;
  }
  .cpyright {
    display: grid;
    order: 2;
  }
  .back-to-top i {
    font-size: 20px;
    width: 40px;
    height: 40px;
  }
  .footlinks a:after {
    display: none;
  }
  .footlinks a:nth-child(3):before {
    display: none;
  }
}
/* ---------------media queries ends---------------- */
