{% extends "neat_base.html" %}



{% block content %}

<nav style="margin-left:50px;margin-top:50px;margin-bottom:-30px;">
        <a href="/library/staff/report/" style="margin-left:-20px">Books Report</a>
        </p>
  </nav>

<div class="add_log" style="margin-left: 25px;margin-top:50px;">

 <form class="form-inline"action="/library/search-staff-results/" method="GET" name="search-form">
  <div class="form-group" style="width: 50%; vertical-align: middle;margin-bottom:  25px; margin-right: 5px;">
    <input style="width: 100%;" type="text" class="form-control input-lg" name="q" required="" id="search-box-1"  placeholder="Search by Author or by title" value="{{search_q}}">
  </div>
  
  <button style=" vertical-align: middle;margin-bottom:  25px;margin-left:  25px;color: #fff !important;background-color: #209bd6; " type="submit" class="btn btn-primary btn-lg col-sm-offset-5">Search</button>

</form>
</div>

{% if show_flag %}

<div style="min-height: 400px;padding-top: 3rem; width: 90%;margin-left: 5px;" class="container-fluid"> 
  
<form action="/library/staff/result-submit/" method="post">
            {% csrf_token %}
     <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" style="border-radius:0px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);">
        <thead>
    <tr>
      <th style="" bgcolor="#0598AF" ><font color="#FEFEFE">ISBN</font>
      </th>
      <th style="" bgcolor="#0598AF" ><font color="#FEFEFE">Authors</font></th>
      <th style="" bgcolor="#0598AF" ><font color="#FEFEFE">Publication Year</font></th><th style="" bgcolor="#0598AF" ><font color="#FEFEFE">Title</font></th>
      <th style="" bgcolor="#0598AF" ><font color="#FEFEFE">Availablity</font></th>
      <th style="" bgcolor="#0598AF" ><font color="#FEFEFE">Given Date</font></th>
      <th style="" bgcolor="#0598AF" ><font color="#FEFEFE">Submition Date</font></th>
</font></th>
</tr>
</thead>
		{% for row in lib_obj %}	
		<tr>

			<td>{% if row.amazon_link %} <a href="{{row.amazon_link}}">{{row.isbn_id}} </a>{% else %} {{row.isbn_id}} {% endif %} </td>
			<td>{{row.authors}}</td>
			<td>{{row.publication_year}}</td>
			<td>{{row.title}}</td>
			<td >
                      <input class="check-step"    style="border: 1.3px solid #325490;"   type="checkbox" name="availability@{{row.book_id}}"  /> 
                  
      </td>
        <td><input type="date" onkeydown="return isValidKey(event)" onkeypress="return false;" class="form-control" id="email1" placeholder="Enter email" name="book_given_date@{{row.book_id}}"  max="2999-12-31"></td>
        <td><input type="date" onkeydown="return isValidKey(event)" onkeypress="return false;" class="form-control" id="email3" placeholder="Enter email" name="book_submission_date@{{row.book_id}}"  max="2999-12-31"></td>	
        </tr>
        {% endfor %}
  </table>
  <input  class="form-control" type="hidden" name="show_flag"  value={{show_flag}}>
  <button type="submit" class="btn-primary btn-lg col-sm-offset-4" style=" outline: none; margin:auto;margin-left: 400px;">Submit</button>
</form>

</div>
{% endif %}

{% endblock %}